<header
  class="d-flex flex-column flex-md-row align-items-center  mb-3 border-bottom justify-content-between pt-3 navbar sticky-top bg-light-subtle "
>
  <img
    src="./assets/images/logo.png"
    alt="Skinet logo"
    style="max-height: 60px"
    class="mx-2"
  />

  <nav class="my-2 mt-md-0 text-uppercase fs-4">
    <a class="me-3 py-1 link-body-emphasis text-decoration-none" href="#"
      >Features</a
    >
    <a class="me-3 py-1 link-body-emphasis text-decoration-none" href="#"
      >Enterprise</a
    >
    <a class="me-3 py-1 link-body-emphasis text-decoration-none" href="#"
      >Support</a
    >
    <a class="py-1 link-body-emphasis text-decoration-none" href="#">Pricing</a>
  </nav>

  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <a href="" class="btn btn-outline-secondary mx-2">Login</a>
    <a href="" class="btn btn-outline-secondary mx-2">Sign up</a>
  </div>
</header>
